<h1>ツイート一覧</h1>

<% if @tweets.empty? %>
  <p>ツイートはありません。</p>
<% else %>
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <%= tweet.text %>
        <% if tweet.url %>
          : <%= link_to nil, tweet.url, target: '_blank' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
